#name > span{
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
}
.wishing{
    background-color: aqua;
    padding: 5% 0;
}
html {
    height: 100%;
  }
  
  body {
    width: 100%;
    height: 100%;
    background: #177082;
    background: -moz-linear-gradient(top, #177082 0%, #52c9e0 100%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(top, #f0f9ff 0%, #52c9e0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #177082 0%, #52c9e0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #177082 0%, #52c9e0 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #177082 0%, #52c9e0 100%);
  }
  
  .svg-snowscene {
    width: 100%;
  }
  
  .snow {
    fill: #fff;
    animation-name: snowing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
  .snow:nth-child(2n) {
    animation-delay: 1.5s;
  }
  .snow:nth-child(3n) {
    animation-delay: 2.3s;
    animation-duration: 3.3s;
  }
  .snow:nth-child(4n) {
    animation-delay: 0.8s;
    animation-duration: 3.2s;
  }
  .snow:nth-child(5n) {
    animation-delay: 2.8s;
  }
  
  @keyframes snowing {
    0% {
      fill-opacity: 1;
    }
    100% {
      fill-opacity: 0;
      transform: translateY(200px);
    }
  }